:root {
  --local-delay: 3s;
  --local-time-response: 0.7s;
}
@keyframes shrinkin {
  from {
    transform: scale(3);
    left: -400%;
  }

  to {
    transform: scale(1);
    //top: 0;
    left: 0;
  }
}
@keyframes enterin-top {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}
@keyframes growin {
  from {
    width: 1.9375rem;
  }

  to {
    width: 100%;
  }
}
@keyframes enterin {
  from {
    transform: scale(2) rotateY(-90deg);
    left: -100%;
  }

  to {
    transform: scale(1) rotateY(0deg);
    left: 0;
  }
}
@keyframes popping-up-width {
  from {
    width: 0%;
    height: 0%;
    padding: 0;
    margin-top: 0;
  }
  1% {
    height: auto;
  }

  to {
    width: 100%;
  }
}
.msg {
  &--1 {
    animation-delay: calc(var(--local-delay) + 0s);
  }
  &--2 {
    animation-delay: calc(1 * var(--local-time-response) + var(--local-delay));
  }
  &--3 {
    animation-delay: calc(2 * var(--local-time-response) + var(--local-delay));
  }
  &--4 {
    animation-delay: calc(3 * var(--local-time-response) + var(--local-delay));
  }
  &--5 {
    animation-delay: calc(4 * var(--local-time-response) + var(--local-delay));
  }
  &--6 {
    animation-delay: calc(5 * var(--local-time-response) + var(--local-delay));
  }
  &--7 {
    animation-delay: calc(6 * var(--local-time-response) + var(--local-delay));
  }
  &--8 {
    animation-delay: calc(7 * var(--local-time-response) + var(--local-delay));
  }
}
