//webpage modules
.title,
.text {
  font-family: $font-family-rubik;
  text-align: center;
}
.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  color: $c-Very-Dark-Desaturated-Violet;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: $c-Dark-Grayish-Violet;
}
@media (min-width: 43.75rem) {
  .title,
  .text {
    text-align: start;
  }
}
